body {
	background-color: #020B24;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #FFF;
}

a, a:active, a:hover, a:visited {
	color: #B4B4B4;
}

#menu {
	font-size: 16px;
}

#menu a {
	color: #FFF;
	text-decoration: none;
}

#menu a:hover, #menu a:active {
	text-decoration: underline;
}

#canvas {
	margin-top: 10px;
	background: url("images/bg.png") repeat;
	border: 1px solid #E0E0E0;
}

#about-box {
	margin-top: 10px;
	border: 1px solid #E0E0E0;
	width: 1024px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

#about-text {
	text-align: left;
	padding: 10px;
}

#about-text h1, #about-text h2, #about-text h3 {
	margin-top: 0;
	margin-bottom: 5px;
}